h1 {
  text-align: left;
  font-size: 40px;
  margin: 10px 5px 5px 5px;
  font-weight: bold;
}

li {
  list-style: none;
  font-size: 16px;
  margin-left: -25px;
  margin-top: 3px;
  padding: 0;
  text-transform: capitalize;
}

.wind-speed {
  text-transform: lowercase;
}

.container {
  max-width: 585px;
  margin: 0 auto;
  margin-top: 15px;
  border: 2px solid rgb(100, 94, 116);
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  font-family: "Nunito", sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(215, 223, 252) 0%,
    rgb(255, 255, 255) 0%,
    rgb(215, 223, 252) 84%
  );
}

.forecast {
  float: left;
  margin-top: 18px;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: bold;
  color: rgb(44, 44, 63);
}

.date {
  position: relative;
  font-size: 13px;
  margin-top: -60px;
  margin-bottom: 40px;
}

.enter-city {
  display: inline-block;
  margin-left: 140px;
  padding: 3px 12px;
  border-radius: 10px;
  border: 1px solid rgb(44, 44, 63);
  background: transparent;
  margin-top: 17px;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
  box-shadow: 2px 2px 2px rgb(44, 44, 63);
}

.enter-city:hover {
  background: white;
}

.search-btn {
  display: inline-block;
  border: transparent;
  background: transparent;
  font-size: 20px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.search-btn:hover {
  font-size: 25px;
}

#current-location-btn {
  position: relative;
  margin: 15px 360px;
  max-width: 150px;
  border-radius: 10px;
  border: 1px solid rgb(44, 44, 63);
  background: rgb(29, 97, 136);
  transition: all 200ms ease-in-out;
  cursor: pointer;
  padding: 5px;
}

#current-location-btn:hover {
  color: rgb(29, 97, 136);
  background: white;
}

.main-forecast-row {
  margin-bottom: 15px;
}

.main-forecast-frame {
  border: 1px solid grey;
  width: 548px;
  margin: 0 auto;
  margin-top: 60px;
  background: white;
  padding-top: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px gray;
}

.main-temp {
  text-align: left;
  margin-left: 5px;
  margin-top: -10px;
  font-size: 55px;
  font-weight: 250;
}

.unit {
  font-size: 25px;
  position: relative;
  top: -22px;
}

.min-max-temp {
  font-size: 16px;
  position: relative;
  left: 10px;
  top: -10px;
}

.main-weather-icon {
  display: block;
  align-items: center;
  margin-top: -16px;
}

.five-day-forecast {
  color: rgb(29, 97, 136);
  margin-left: 10px;
  font-weight: bold;
}

.card-title {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgb(103, 103, 134);
}

.icons {
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
}

.temp {
  text-align: center;
  word-spacing: 3px;
  font-size: 15px;
}

.card {
  box-shadow: 3px 3px 3px gray;
  color: rgb(44, 44, 63);
}

a {
  text-decoration: none;
}

.github {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
}
