h1 {
  text-align: left;
  font-size: 40px;
  margin: 10px 5px 5px 5px;
  font-weight: bold;
}

li {
  list-style: none;
  font-size: 16px;
  margin-left: -25px;
  margin-top: 1px;
  padding: 0;
  text-transform: capitalize;
}

.container {
  max-width: 630px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 15px;
  border: 2px solid rgb(100, 94, 116);
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  font-family: "Nunito", sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(215, 223, 252) 0%,
    rgb(255, 255, 255) 0%,
    rgb(215, 223, 252) 84%
  );
}

.forecast {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: bold;
  color: rgb(44, 44, 63);
}

.date {
  font-size: 13px;
}

.enter-city,
.search-btn {
  margin-top: 10px;
  transition: all 200ms ease-in-out;
}
.enter-city {
  margin-top: 10px;
  padding: 3px 12px;
  border-radius: 10px;
  border: 1px solid rgb(44, 44, 63);
  background: transparent;
  text-transform: capitalize;
  box-shadow: 2px 2px 2px rgb(44, 44, 63);
}

.enter-city:hover {
  background: white;
}

.search-btn {
  border: transparent;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
  margin-top: 15px !important;
}

.search-btn:hover {
  color: rgb(29, 97, 136);
}

#current-location-btn {
  border-radius: 10px;
  border: 1px solid rgb(44, 44, 63);
  background: rgb(29, 97, 136);
  transition: all 200ms ease-in-out;
  cursor: pointer;
  padding: 5px 15px;
}

#current-location-btn:hover {
  color: rgb(29, 97, 136);
  background: white;
}

.main-forecast-row {
  margin-bottom: 15px;
}

.main-forecast-frame {
  border: 1px solid grey;
  width: 548px;
  margin: 0 auto;
  margin-top: 5px;
  background: white;
  padding-top: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px gray;
}

.main-temp {
  text-align: left;
  margin-left: 5px;
  margin-top: -10px;
  font-size: 70px;
  font-weight: 250;
}

.unit {
  font-size: 28px;
  position: relative;
  top: -30px;
  left: -16px;
}

.main-weather-icon {
  display: block;
  margin: 0px auto;
}

.wind-speed {
  text-transform: lowercase;
}

.five-day-forecast {
  color: rgb(29, 97, 136);
  margin-left: 10px;
  font-weight: bold;
}

.card-title {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgb(103, 103, 134);
  text-transform: uppercase;
}

.icons {
  display: block;
  margin: 0 auto;
  margin-left: -12px;
}

.forecast-temp {
  text-align: center;
  word-spacing: 5px;
  font-size: 15px;
}

.forecast-temp .forecast-min-temp {
  opacity: 0.7;
  margin-left: 5px;
}

.card {
  box-shadow: 3px 3px 3px gray;
  color: rgb(44, 44, 63);
}

.forecast-temp .col-sm-3 {
  flex: 0 0 auto;
  width: 20%;
}

.github {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
}

.github a {
  text-decoration: none;
}

@media (max-width: 600px) {
  body {
    margin-bottom: 50px;
    margin-top: 80px;
  }

  .container {
    width: 90% !important;
    margin: 0 auto !important;
    display: block !important;
  }

  .weather-header p {
    text-align: center;
  }

  .forecast {
    font-size: 25px;
    text-align: center;
  }

  .date {
    font-size: 15px;
    text-align: center;
  }

  .enter-city {
    width: 70%;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
  }

  .btn-col {
    display: block !important;
    margin: 0 auto !important;
  }

  .current-location-btn {
    width: 100%;
    margin-bottom: 20px;
  }

  .search-btn {
    display: none;
  }

  .main-forecast-frame {
    width: 98%;
    padding-bottom: 15px;
  }

  .main-forecast-frame .col-sm-4,
  .main-forecast-frame .col-sm-3,
  .main-forecast-frame h1 {
    display: flex !important;
    justify-content: center !important;
  }

  .main-forecast-frame h1 {
    font-size: 42px;
  }

  .unit {
    top: 10px;
    left: 0px;
  }

  .main-weather-icon {
    margin-bottom: 25px;
  }

  .main-forecast-frame .description {
    border: 1px solid gray;
    margin: 10px auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 85%;
    box-shadow: 2px 2px 2px rgb(179, 191, 198);
  }

  .forecast-temp .row .col-sm-3 {
    width: 50% !important;
    margin: 0 auto;
    margin-bottom: 18px;
    font-size: 18px;
  }

  .forecast-temp img {
    width: 100%;
  }

  .five-day-forecast {
    font-size: 20px;
  }

  .forecast-temp .card-title {
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}
